pipeline/Pipeline 1.json
{
	"name": "Pipeline 1",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "Notebook 3",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "notebookoutput",
					"value": {
						"value": "@activity('Notebook1').output.status.Output.result.exitValue",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "log",
					"value": {
						"value": "@activity('Notebook1').output.status.Output.status.log",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"ywtestsparkpool": {
				"type": "String",
				"defaultValue": "ywtestsparkpool"
			},
			"testpool": {
				"type": "string",
				"defaultValue": "testpool"
			}
		},
		"variables": {
			"notebookoutput": {
				"type": "String",
				"defaultValue": "\"\""
			},
			"log": {
				"type": "Array",
				"defaultValue": [
					1,
					2
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-09-02T04:12:37Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}